# 3. 데이터 입출력

## 3-1. 함수

#### 001 함수

- 출력값과 같은 값을 호출하는 함수를 작성하고 호출하세요.

-------
<span style="font-weight:bold; color:orange;">출력</span>
```
python
```

In [1]:
def my_def():
    print("python")
my_def()

python

#### 002 함수

- ```mydef()```함수를 호출하면 보기와 같이 1부터 9까지 출력하는 함수를 작성하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
# 이곳에 함수를 작성하세요
my_def()
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
1
2
3
4
5
6
7
8
9
```

In [2]:
def my_def():
    for i in range(1,10):
        print(i)
my_def()

1
2
3
4
5
6
7
8
9

#### 003함수

- 다음 코드의 출력값을 예측하고 확인하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
def my_def1():
    print("A")
    
def my_def2():
    my_def1()
    print("B")
    
def my_def3():
    my_def2()
    print("C")
    
my_def3()
```

In [3]:
def my_def1():
    print("A")
    
def my_def2():
    my_def1()
    print("B")
    
def my_def3():
    my_def2()
    print("C")
    
my_def3()

A
B
C

#### 004 함수, 전역변수

- 다음은 함수를 이용해 변수```glb```의 값을 바꾸는 코드의 일부입니다.
- ```glb``` 변수의 값을 출력값과 같도록 만드는 함수를 작성하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
glb = 100


my_def()    
print(glb)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
399
```

In [4]:
glb = 100

def my_def():
    global glb
    glb = 399

my_def()    
print(glb)

399

#### 005함수, 전역변수

- 다음은 함수 안의 변수 ```i```를 출력하는 프로그램입니다.
- 함수 안에서 정의된 변수 ```i```의 값을 출력하기 위해 함수를 수정하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
def my_def():
    i = 999
    
mydef()    
print(i)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
999
```

In [4]:
def my_def():
    global i
    i = 999
    
my_def()    
print(i)

999

#### 006 함수, 매개변수와 인수

- 다음과 같이 입력한 인수를 출력해주는 함수를 작성하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
# 주석을 지우고 이곳에 함수를 작성하세요.

my_print("hi")
my_print(list(range(10)))
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
hi
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
```

In [6]:
def my_print(text):
    print(text)

my_print("hi")
my_print(list(range(10)))

hi
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 007 함수

- 2개의 인수를 받아 합을 출력하는 함수를 작성하세요.
- 작성한 함수에 변수 ```a```, ```b```를 인수로 넣고 호출하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
a, b = 3, 9

# 주석을 지우고 이곳에 함수를 작성하세요.

my_def(a, b)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
12
```

In [9]:
a, b = 3, 9

def my_def(a, b):
    return a + b

my_def(a, b)

12

#### 008 함수

- 3개의 인수를 받아 사칙연산을 실행하는 함수를 작성하세요.
- 보기와 같이 1,2 번째의 인수는 숫자를, 3번째 인수는 연산타입을 받도록 작성하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
a, b = 3, 9

# 주석을 지우고 이곳에 함수를 작성하세요.
    
print(my_def(a, b, "+"))
print(my_def(a, b, "-"))
print(my_def(a, b, "*"))
print(my_def(a, b, "/"))
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
12
-6
27
0.3333333333333333
```

In [10]:
a, b = 3, 9

def my_def(a, b, c):
    if c == "+":
        return a + b
    elif c == "-":
        return a - b
    elif c == "*":
        return a * b
    elif c == "/":
        return a / b
    
print(my_def(a, b, "+"))
print(my_def(a, b, "-"))
print(my_def(a, b, "*"))
print(my_def(a, b, "/"))

12
-6
27
0.3333333333333333

#### 009 함수, 가변인자

- 가변적인 문자열 타입의 인수를 입력받아 문장을 출력하는 함수를 작성하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
# 주석을 지우고 이곳에 함수를 작성하세요.

my_def("We ", "will ", "find ", "a way.")
my_def("We ", "always ", "have.")
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
We will find a way.
We always have.
```

In [11]:
def my_def(*args):
    retval = ''
    for i in args:
        retval += i
    print(retval)
    
my_def("We ", "will ", "find ", "a way.")
my_def("We ", "always ", "have.")

We will find a way.
We always have.

#### 010 함수, 키워드 매개변수

- 다음과 같은 인수를 입력받아 딕셔너리 형태로 출력하는 함수를 작성하세요.
- 반드시 키워드 매개변수를 활용하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
# 주석을 지우고 이곳에 함수를 작성하세요.

my_def(국어=77, 영어=88, 수학=81, 국사=63, 과학=97)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
{'국어': 77, '영어': 88, '수학': 81, '국사': 63, '과학': 97}
```

In [12]:
def my_def(**kwargs):
    print(kwargs)
    
my_def(국어=77, 영어=88, 수학=81, 국사=63, 과학=97)

{'국어': 77, '영어': 88, '수학': 81, '국사': 63, '과학': 97}

#### 011 함수, 초기값

- 출력값을 참고하여 함수의 초기값을 할당하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python

def order_list(name, age, address):
    print("이름: " + name)
    print("나이: " + str(age))
    print("주소: " + address)
    print("------------")

order_list()
order_list(name="홍길동", age=67, address="전라도 장성현 아곡리 아치실 마을")
order_list(address="조선 경기도 양주군", age=48, name="김립")

```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
이름: 미기재
나이: None
주소: 미기재
------------
이름: 홍길동
나이: 67
주소: 전라도 장성현 아곡리 아치실 마을
------------
이름: 김립
나이: 48
주소: 조선 경기도 양주군
------------
```

In [13]:
def order_list(name="미기재", age=None, address="미기재"):
    print("이름: " + name)
    print("나이: " + str(age))
    print("주소: " + address)
    print("------------")

order_list()
order_list(name="홍길동", age=67, address="전라도 장성현 아곡리 아치실 마을")
order_list(address="조선 경기도 양주군", age=48, name="김립")

이름: 미기재
나이: None
주소: 미기재
------------
이름: 홍길동
나이: 67
주소: 전라도 장성현 아곡리 아치실 마을
------------
이름: 김립
나이: 48
주소: 조선 경기도 양주군
------------

#### 012 함수, 초기값

- 다음 예제의 문법적인 오류를 수정하세요.
- 매개변수에 대해서만 수정하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
def order_list(*order_list, **food, customer_name="미입력"):
    print(customer_name)
    print(order_list)    
    print(food)    
 
order_list("홍길동", "짬뽕", "짜장", 짜장면=4000, 짬뽕=5000, 탕수육=15000)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
홍길동
('짬뽕', '짜장')
{'짜장면': 4000, '짬뽕': 5000, '탕수육': 15000}
```

In [14]:
def order_list(customer_name="미입력",*order_list, **food):
    print(customer_name)
    print(order_list)    
    print(food)    
 
order_list("홍길동", "짬뽕", "짜장", 짜장면=4000, 짬뽕=5000, 탕수육=15000)

홍길동
('짬뽕', '짜장')
{'짜장면': 4000, '짬뽕': 5000, '탕수육': 15000}

#### 013 람다

- 다음의 출력값이 나올 수 있도록 람다식을 이용해 코드를 작성하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
add = # 주석을 지우고 이곳에 코드를 작성하세요.
sub = # 주석을 지우고 이곳에 코드를 작성하세요.
mul = # 주석을 지우고 이곳에 코드를 작성하세요.
div = # 주석을 지우고 이곳에 코드를 작성하세요.

print(add(2, 5))
print(sub(2, 5))
print(mul(2, 5))
print(div(2, 5))
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
7
-3
10
0.4
```

In [15]:
add = lambda a, b: a + b
sub = lambda a, b: a - b
mul = lambda a, b: a * b
div = lambda a, b: a / b

print(add(2, 5))
print(sub(2, 5))
print(mul(2, 5))
print(div(2, 5))

7
-3
10
0.4

#### 014 람다

- 다음의 출력값이 나올 수 있도록 람다식을 이용해 코드를 작성하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
result = # 주석을 지우고 이곳에 코드를 작성하세요.
result(3)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
[3, 6, 9, 12, 15, 18, 21, 24, 27]
```

In [16]:
result = lambda a: [a*i for i in range(1,10)]
result(3)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

#### 015 람다

- 입력받은 문자열을 역순으로 리턴하는 함수를 작성하세요.
- 반드시 람다식을 이용하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python

str_reverse = # 주석을 지우고 이곳에 코드를 작성하세요.
str_reverse("python")
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
'nohtyp'
```

In [17]:
str_reverse = lambda text: text[::-1]
str_reverse("python")

'nohtyp'

## 3-2. input

#### 016 input

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
input_value = # 주석을 지우고 이곳에 코드를 작성하세요.
print(input_value * 2)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
숫자를 입력해주세요:12
24
```

In [18]:
input_value = int(input("숫자를 입력해주세요:"))
print(input_value * 2)

숫자를 입력해주세요:12
24

#### 017 input

- 한 가지의 메뉴를 입력받아 가격을 출력하는 프로그램을 작성하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
menu = {'짜장면':4000, '짬뽕':5000, '탕수육':15000}
price = # 주석을 지우고 이곳에 함수를 작성하세요.
print(price)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
짜장면
4000
```

In [19]:
menu = {'짜장면':4000, '짬뽕':5000, '탕수육':15000}
price = menu[input()]
print(price)

짜장면
4000

## 3-3. read, write

#### 018 write

- 현재 경로에 ```empty.txt```파일을 하나 만드세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
f = # 주석을 지우고 이곳에 함수를 작성하세요.
f.close()
```

In [20]:
f = open('empty.txt', 'w')
f.close()

#### 019 write

- 절대경로를 이용해 현재 경로에 ```not_empty.txt```파일을 만드세요.
- ```not_empty.txt```파일에 ```is not empty``` 라는 텍스트를 저장하세요.

In [ ]:
f = open('I:/Jupyter Project/PythonBasic/not_empty.txt', 'w')
f.write('is not empty')
f.close()

#### 020 write

- 현재경로를 이용해 ```not_empty.txt```파일을 열고 다음의 내용을 **추가**하세요.
- ```Please write your text```
- 추가할 때는 반드시 다음 줄에 입력될 수 있도록 유의하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
# 주석을 지우고 이곳에 함수를 작성하세요.
f = 
f.
f.close()
```

In [ ]:
f = open('not_empty.txt', 'a')
f.write('\n' + 'Please write your text')
f.close()

#### 021 read, with

- ```with```문을 활용하여 현재경로의 ```not_empty.txt```파일을 모두 읽어오세요.
- 읽어온 내용을 ```text```변수에 할당하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
text = ''
# 주석을 지우고 이곳에 코드를 작성하세요.
print(text)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
is not empty
Please write your text
```

In [ ]:
text = ''
with open('not_empty.txt', 'r') as f:
    text = f.read()
print(text)

#### 022 write, with

- ```with```문을 활용해 다음의 리스트를 파일로 만들어 저장하세요.
- 파일은 현재경로에 ```fruits.txt```이름으로 저장하세요.
- 반드시 ```for```문을 사용하세요.
- 저장된 내용은 예시와 같아야 합니다.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
li = ['귤', '사과', '복숭아', '바나나', '파인애플']
# 주석을 지우고 이곳에 함수를 작성하세요.
```
-------
<span style="font-weight:bold; color:orange;">예시</span>
```
귤
사과
복숭아
바나나
파인애플

```

In [ ]:
li = ['귤', '사과', '복숭아', '바나나', '파인애플']
with open('fruits.txt', 'w') as f:
    for item in li:
        f.write(item + '\n')

#### 023 read

- with문과 for문을 사용하여 ```fruits.txt```파일의 내용을 4줄만 읽어오세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
# 주석을 지우고 이곳에 함수를 작성하세요.
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
귤

사과

복숭아

바나나
```

In [ ]:
with open('fruits.txt', 'r') as f:
    for i in range(4):
        print(f.readline())

#### 024 read, with

- ```y```를 입력받으면 ```fruits.txt```파일의 데이터를 한 줄씩 불러오고, ```x```를 입력받으면 입력모드를 중지하는 프로그램을 작성하세요.
- with문과 while문을 적절히 활용하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python

data = ''
# 주석을 지우고 이곳에 코드를 작성하세요.
data
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
y
y
y
x
```
-------
<span style="font-weight:normal; color:orange;">Out</span>
```
'귤\n사과\n복숭아\n'
```

In [ ]:
data = ''
with open('fruits.txt', 'r') as f:
    while True:
        input_data = input()
        if input_data == 'y':
            data += f.readline()
        elif input_data == 'x':
            break
data