# 1. 자료형

## 1-1. 변수와 숫자형, 문자형

#### 001 변수 사용하기

- myName 변수에 **"홍길동"**이라는 문자열을 바인딩하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
myName = 
```

In [1]:
myName = "홍길동"

#### 002 변수 사용하기  

- myAge 변수를 생성하고 숫자 **20**을 바인딩하세요

In [2]:
myAge = 20

#### 003 변수 사용하기  

- myHeight, myWeight 변수에 **175, 70**의 숫자를 바인딩하세요.

----------
<span style="font-weight:bo; color:orange;">필요조건</span>
```python
myHeight, myWeight = 
```

In [3]:
myHeight, myWeight = 175, 70

#### 004 변수 사용하기  
- 다음 표는 성적을 나타냅니다. 과목명 변수에 알맞는 점수를바인딩하세요.


과목|국어|영어|수학|국사|과학
----|:--:|:--:|:--:|:--:|:--:
점수|77|88|81|63|97

---------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
국어, 영어, 수학 = 
국사 = 
과학 = 
```

In [4]:
국어, 영어, 수학 = 77, 88, 81
국사 = 63
과학 = 97

#### 005 사칙연산
- total 변수를 생성하고 모든 과목점수의 합을 구하세요.
- 위에서 바인딩한 **과목명 변수**와 **덧셈 연산자**를 활용하세요.

---------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
# 주석을 지우고 이곳에 코드를 작성하세요.
print(total)
```
---------
<span style="font-weight:bold; color:orange;">출력</span>
```
406
```

In [5]:
total = 국어 + 영어 + 수학 + 국사 + 과학
print(total)

406

#### 006 사칙연산

- ```avg``` 변수를 생성하고 **전과목의 평균 점수**를 구하는 식을 작성하여 바인딩하세요.
- 반드시 total 변수를 사용하세요.

---------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
# 주석을 지우고 이곳에 코드를 작성하세요.
print(avg)
```
---------
<span style="font-weight:bold; color:orange;">출력</span>
```
81.2
```

In [6]:
avg = total / 5
print(avg)

81.2

#### 007 type 함수
- ```type()```함수는 데이터의 타입을 알려줍니다.
- avg 변수에 바인딩 된 값의 타입을 예상해보고 확인하세요.

---------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
avg = 81.2
type(avg)
```

In [7]:
avg = 81.2
type(avg)

float

#### 008 형 변환
- myAge의 타입을 정수형(int)으로 변환해보세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
myAge = '20'
# 주석을 지우고 이곳에 코드를 작성하세요.
type(myAge)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
int
```

In [8]:
myAge = '20'
myAge = int(myAge)
type(myAge)

int

#### 009 형 변환
- avg의 타입을 문자형(str)으로 변환해보세요.

-----------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
avg = 81.2
# 주석을 지우고 이곳에 코드를 작성하세요.
type(avg)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
str
```

In [9]:
avg = 81.2
avg = str(avg)
type(avg)

str

#### 010 문자열 출력
- ```myName```과 ```myAge```변수를 활용하여 출력값과 같은 문자열 출력하세요.  
- 반드시 print문 안에 작성하세요.

---------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
myName = '홍길동'
myAge = '20'
print() # 주석을 지우고 해당 줄에 코드를 작성하세요.
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
홍길동 20세
```

In [10]:
myName = '홍길동'
myAge = '20'
print(myName, myAge + "세")
# print(myName + " " + myAge + "세")

홍길동 20세

#### 011 문자열 출력
- 주어진 변수 A와 B를 사용하여 아래의 문자를 출력하세요.  
-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
A = "총합:"
B = total
print(A + )  # 주석을 지우고 해당 줄에 코드를 작성하세요.
```
---------
<span style="font-weight:bold; color:orange;">출력</span>
```
총합:406
```

In [11]:
A = "총합:"
B = total
print(A + str(B))

총합:406

#### 012 사칙연산
- 주어진 두 변수와 연산자를 활용하여 출력값과 같은 값이 나오도록 코드를 작성하세요.
-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
A, B = 3, 8

print()  # 11
print()  # 5
print()  # 24
print()  # 6561
print()  # 0.375
print()  # 2
print()  # 3
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
11
5
24
6561
0.375
2
3
```

In [12]:
A, B = 3, 8

print(A + B)  # 11
print(B - A)  # 5
print(A * B)  # 24
print(A ** B)  # 6561
print(A / B)  # 0.375
print(B // A)  # 2
print(A % B)  # 3

11
5
24
6561
0.375
2
3

## 1-2. 문자열 자료형

#### 013 여러줄 표현하기

- 따옴표 3개(''')를 활용해 다음의 출력값이 처럼 결과가 나오도록 코드를 작성하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
text = # 주석을 지우고 이곳에 코드를 작성하세요.
print(text)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
```

In [13]:
text = """\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to \
"""
print(text)

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

#### 014 이스케이프 코드

- 다음의 출력값이 나올 수 있도록 이스케이프 코드를 활용해 코드를 작성하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
print() # 주석을 지우고 이곳에 코드를 작성하세요.
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
"따옴표를 출력해주세요"
```

In [14]:
print("\"따옴표를 출력해주세요\"")

"따옴표를 출력해주세요"

#### 015 이스케이프 코드

- 다음의 출력값이 나올 수 있도록 이스케이프 코드를 활용해 코드를 작성하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
text = "" # 주석을 지우고 이곳에 코드를 작성하세요.
print(text)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
1번째 줄
2번째 줄
```

In [15]:
text = "1번째 줄\n2번째 줄"
print(text)

1번째 줄
2번째 줄

#### 016 이스케이프 코드

- 다음의 출력값이 나올 수 있도록 이스케이프 코드를 활용해 코드를 작성하세요.

--------------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
print()  # 주석을 지우고 해당 줄에 코드를 작성하세요.
```
---------------
<span style="font-weight:bold; color:orange;">출력</span>
```
"다음은 문자열 안에서 줄을 바꿀 때 사용합니다. \n"
'다음 문자는 문자열 사이에 탭 간격을 줄 때 사용합니다. \t'
```

In [16]:
print("\"다음은 문자열 안에서 줄을 바꿀 때 사용합니다. \\n\"\n\'다음 문자는 문자열 사이에 탭 간격을 줄 때 사용합니다. \\t\'")

"다음은 문자열 안에서 줄을 바꿀 때 사용합니다. \n"
'다음 문자는 문자열 사이에 탭 간격을 줄 때 사용합니다. \t'

#### 017 문자열 곱하기

- 다음의 출력값이 나오도록 문자열 곱하기를 활용하여 코드를 작성하세요.
- 출력값의 ```*```은 한 줄에 50개 입니다

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
print("*")   # 주석을 지우고 해당 줄에 코드를 작성하세요.
print("I LOVE PYTHON")
print("*")   # 주석을 지우고 해당 줄에 코드를 작성하세요.
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
**************************************************
I LOVE PYTHON
**************************************************
```

In [17]:
print("*" * 50)
print("I LOVE PYTHON")
print("*" * 50)

**************************************************
I LOVE PYTHON
**************************************************

#### 018 문자열 곱하기

- 다음의 출력값이 나오도록 문자열 곱하기를 활용하여 코드를 작성하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
print()
print()
print()
print()
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
******
*    *
*    *
******
```

In [18]:
print("*" * 6)
print("*" + " " * 4 + "*")
print("*" + " " * 4 + "*")
print("*" * 6)

******
*    *
*    *
******

#### 019 문자열 인덱싱

- 문자열 인덱싱을 사용하여 P를 출력하세요

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
A = "PYTHON"
print()  # 주석을 지우고 해당 줄의 빈 칸에 코드를 작성하세요.
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
P
```

In [19]:
A = "PYTHON"
print(A[0])

P

#### 020 문자열 인덱싱

- 문자열 인덱싱을 사용하여 L과 P를 출력하세요
- P의 인덱서는 음수를 사용하세요.(ex. ```A[-1]```)

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
A = "I LOVE PYTHON"
print() # 주석을 지우고 해당 줄의 빈 칸에 코드를 작성하세요.
print() # 주석을 지우고 해당 줄의 빈 칸에 코드를 작성하세요.
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
L
P
```

In [20]:
A = "I LOVE PYTHON"
print(A[2])
print(A[- 6])

L
P

#### 021 문자열 슬라이싱

- 문자열 슬라이싱을 사용하여 ```LOVE```를 출력하세요

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
A = "I LOVE PYTHON"
print() # 주석을 지우고 해당 줄에 코드를 작성하세요.
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
LOVE
```

In [24]:
A = "I LOVE PYTHON"
print(A[2:6])

LOVE

#### 022 문자열 슬라이싱

- 다음 코드의 출력이 어떨지 예상하고 확인하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
A = "I LOVE PYTHON"
print(A[-6:])
```

In [25]:
A = "I LOVE PYTHON"
print(A[-6:])

PYTHON

#### 023 문자열 슬라이싱

- 다음 코드의 출력이 어떨지 예상하고 확인하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
A = "I LOVE PYTHON"
print(A[:2] + "WANT" + A[-7:])
```

In [26]:
A = "I LOVE PYTHON"
print(A[:2] + "WANT" + A[-7:])

I WANT PYTHON

#### 024 문자열 인덱싱, 슬라이싱

- **문자열 인덱싱**과 **슬라이싱**을 사용하여 A를 ```PYTHON```으로 만들고 출력하세요.
- 절대 바인딩 된 변수 A의 값은 바꾸지 마세요.(1번째 줄은 수정하지 마세요)

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
A = "PYSON" # ◀ 이 코드는 절대 수정하지 마세요.
print() # 주석을 지우고 해당 줄에 코드를 작성하세요.
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
PYTHON
```

In [27]:
A = "PYSON"
print(A[:2] + "TH" + A[-2:])

PYTHON

#### 025 기본 문자열 포매팅
- 다음의 출력값이 나올 수 있도록 문자열 포매팅을 활용해 코드를 수정하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
print("이름: " %"홍길동")
print("나이: " %20)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
이름: 홍길동
나이: 20
```

In [29]:
print("이름: %s" %"홍길동")
print("나이: %d" %20)

이름: 홍길동
나이: 20

#### 026 기본 문자열 포매팅
- 다음의 출력값이 나올 수 있도록 문자열 포매팅을 활용해 코드를 수정하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
print("I studied for two hours to do 파이썬." %(2, "python"))
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
I studied for 2 hours to do python.
```

In [30]:
print("I studied for %d hours to do %s." %(2, "python"))

I studied for 2 hours to do python.

#### 027 기본 문자열 포매팅, 이스케이프 코드
- 다음의 출력값이 나올 수 있도록 문자열 안에 이스케이프 코드를 추가하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
percent = 25
print("%d|███       |" % percent)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
25%|███       |
```

In [31]:
percent = 25
print("%d%%|███       |" % percent)

25%|███       |

#### 028 기본 문자열 포매팅, 정렬과 공백

- 다음의 출력값이 나올 수 있도록 print문 안의 문자열을 수정하세요.
- 반드시 정렬기능을 활용하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
percent, progressbar = 50, "|█████"
progressbar = "|█████"
print("%3s%%%11s|" % (percent, progressbar))
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
 50%|█████     |
```

In [32]:
percent, progressbar = 50, "|█████"
print("%3s%%%-11s|" % (percent, progressbar))

 50%|█████     |

#### 029 멋진 문자열 포매팅

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
A = "python"
B = "love"
print(f"I {} {}.") # 주석을 지우고 해당 줄의 {}안에 코드를 작성하세요.
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
I love python.
```

In [33]:
A = "python"
B = "love"
print(f"I {B} {A}.")

I love python.

#### 030 멋진 문자열 포매팅, format 함수

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
print("I {} {}.".format("love", "python")) # 주석을 지우고 해당 줄의 {}안에 코드를 작성하세요.
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
I love python.
```

In [34]:
print("I {0} {1}.".format("love", "python"))

I love python.

#### 031 문자열 포매팅, format 함수

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
print("I {} {}.".format(first="python", second="love")) # 주석을 지우고 해당 줄의 {}안에 코드를 작성하세요.
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
I love python.
```

In [35]:
print("I {second} {first}.".format(first="python", second="love"))

I love python.

#### 032 문자열 포매팅, 소수점, 퍼센트

- format을 사용하여 다음의 출력값이 나올 수 있도록 ```{}```안에 코드를 추가하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
print('{}'.format(0.125))
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
12.5%
```

In [36]:
print('{0:.1%}'.format(0.125))

12.5%

#### 033 문자열 포매팅, 정렬

- format을 사용하여 다음의 출력값이 나올 수 있도록 {}안에 코드를 추가하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
print("""\
{:}
{:^50}
{:}\
""".format(_star="*" * 50, _text="I LOVE PYTHON"))
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
**************************************************
                  I LOVE PYTHON                   
**************************************************
```

In [37]:
print("""\
{_star:}
{_text:^50}
{_star:}\
""".format(_star="*" * 50, _text="I LOVE PYTHON"))

**************************************************
                  I LOVE PYTHON
**************************************************

#### 034 문자열 관련 함수(문자열 바꾸기)

- 다음의 출력값이 나오도록 코드를 수정하세요.
- 반드시 str 전용 메소드를 사용하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
text = """\
**************************************************
                  I LOVE PYTHON                   
**************************************************\
"""
text = # 주석을 지우고 해당 줄에 코드를 작성하세요.
print(text)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
##################################################
                  I LOVE PYTHON                   
##################################################
```

In [38]:
text = """\
**************************************************
                  I LOVE PYTHON                   
**************************************************\
"""
text = text.replace("*", "#")
print(text)

##################################################
                  I LOVE PYTHON
##################################################

#### 035 문자열 관련 함수(문자열 지우기)

- 문자열 지우기 함수를 한 번만 사용하여 다음의 출력값이 나올 수 있도록 코드를 수정하세요.


-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
text = """\
**************************************************
                  I LOVE PYTHON                   
**************************************************\
"""
text = # 주석을 지우고 해당 줄에 코드를 작성하세요.
print(text)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
I LOVE PYTHON
```

In [39]:
text = """\
**************************************************
                  I LOVE PYTHON                   
**************************************************\
"""
text = text.strip("*\n ")
print(text)

I LOVE PYTHON

#### 036 문자열 관련 함수(대소문자 변경)

- ```text```변수의 값을 소문자로 바꿔 출력하세요.
- 반드시 문자열 관련 메소드를 활용하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
text = "PYTHON"
print() # 주석을 지우고 이곳에 코드를 작성하세요.
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
python
```

In [40]:
text = "PYTHON"
print(text.lower())

python

#### 037 문자열 관련 함수(문자열 삽입)

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.
- join 함수와 lower 함수를 반드시 사용하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
text = "PYTHON"
print() # 주석을 지우고 이곳에 코드를 작성하세요.
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
p,y,t,h,o,n
```

In [1]:
text = "PYTHON"
print(",".join(text).lower())

p,y,t,h,o,n