## 1-3. 리스트

#### 001 리스트 자료형(리스트 생성)

- 다음의 표를 보고 1번부터 6번까지 순서대로 이름을 ```fruits```변수에 담아 리스트로 만드세요.

|INDEX|1|2|3|4|5|
|:---:|:---:|:---:|:---:|:---:|:---:|
|LIST|귤|사과|오렌지|배|바나나|  

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
fruits = # 주석을 지우고 해당 줄에 코드를 작성하세요.
print(fruits)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
['귤', '사과', '오렌지', '배', '바나나']
```

#### 002 리스트 자료형(원소 추가, 교체)

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.
- 원소를 추가할 때는 반드시 append 함수를 사용하세요.
- 원소를 수정할 때는 반드시 리스트 인덱싱을 사용하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
fruits = ["귤", "사과", "오렌지", "배", "바나나"]

fruits.()
fruits[]
print(fruits)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
['귤', '감', '오렌지', '배', '바나나', '돌']
```

#### 003 리스트 자료형(끼워넣기, 삭제)

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.
- 원소를 끼워넣을 때는 반드시 insert 함수를 사용하세요.
- 원소를 삭제할 때는 반드시 del 예약어를 사용하세요.
-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
fruits = ["귤", "감", "오렌지", "배", "바나나", "돌"]

fruits.insert()
fruits[-1]
print(fruits)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
['귤', '사과', '감', '오렌지', '배', '바나나']
```

#### 004 리스트 자료형(리스트 연산, 리스트 뒤집기)

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.
- 반드시 리스트를 연산식을 사용하세요.
- 반드시 리스트 메서드를 사용해 리스트를 뒤집으세요.
-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

num = num
num.()
print(num)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
```

#### 005 리스트 자료형(슬라이싱)

- 다음의 출력값이 나올 수 있도록 코드를 작성하세요.
- 반드시 리스트의 슬라이싱을 활용하셔야 합니다.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
num = ['python', 1, 2, 3 ,4, 5, 6, 7, 8 ,9]

print(num[])
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
[8, 6, 4, 2]
```

#### 006 리스트 to 문자열

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.
- 반드시 변수 num을 대상으로 join과 map을 활용하세요.
 - map은 여러 데이터를 한 번에 다른 형태로 변환하기 위해서 사용합니다.
 - map은 ```map(A, a)```형태로 사용할 수 있으며 ```A```에는 함수 또는 자료형을 입력할 수 있습니다.
 - ```a```에는 iterable 타입의 데이터를 하나 이상 넣을 수 있습니다.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
num = ['python', 1, 2, 3 ,4, 5, 6, 7, 8 ,9]

print()
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
python,1,2,3,4,5,6,7,8,9
```

#### 007 문자열 to 리스트

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.
- 반드시 split, list, map 을 활용하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
text = "1,2,3,4,5,6,7,8,9"

print(text)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
[1, 2, 3, 4, 5, 6, 7, 8, 9]
```

#### 008 리스트 자료형(원소 개수)

- 변수 ```asciiArt```에 몇 개의 ```⣿```가 있는지 개수를 확인하세요.
- 반드시 리스트로 변환해 개수를 구하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
asciiArt = '''
⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⢠⣿⣶⣄⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀ ⠀⠀⢀⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣦⣄⣀⡀⣠⣾⠀⠀⠀⠀
⠀⠀⠀⠀ ⠀⠀⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀
⠀⠀⠀ ⠀⢀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠿⢿⣿⣿⠀⠀⠀⠀
⠀⣶⣿⣦⣜⣿⣿⣿⡟⠻⣿⣿⣿⣿⣿⣿⣿⡿⢿⡏⣴⣺⣦⣙⣿⣷⣄⠀⠀⠀
⠀⣯⡇⣻⣿⣿⣿⣿⣷⣾⣿⣬⣥⣭⣽⣿⣿⣧⣼⡇⣯⣇⣹⣿⣿⣿⣿⣧⠀⠀
⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠸⣿⣿⣿⣿⣿⣿⣿⣷⠀
'''
print(asciiArt)
```

## 1-4. 튜플

#### 009 튜플 자료형

- 다음의 출력값이 나올 수 있도록 변수 ```tup_0```과 ```tup_1```에 튜플을 만들어 바인딩 하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
tup_0 = 
tup_1 = 

print(type(tup_0), len(tup_0))
print(type(tup_1), len(tup_1))
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
<class 'tuple'> 0
<class 'tuple'> 1
```

#### 010 튜플 자료형(인덱싱)

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
tup = 1, 2, 3, 4, 5, 6, 7, 8, 9

print(tup)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
(3, 4, 5, 6)
```

## 1-5. 딕셔너리

#### 011 딕셔너리(생성)

- 다음의 점수를 딕셔너리로 만드세요. 

과목|국어|영어|수학|국사|과학
----|:--:|:--:|:--:|:--:|:--:
점수|77|88|81|63|97

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
dic = {}
print(dic)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
{'국어': 77, '영어': 88, '수학': 81, '국사': 63, '과학': 97}
```

#### 012 딕셔너리(쌍 추가) 

- 다음의 출력값이 나올 수 있도록 쌍을 추가하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
dic = {0: 0, 1: 1}
dic[] = 

print(dic)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
{0: 0, 1: 1, 'a': 3}
```

#### 013 딕셔너리(삭제)

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.
- 반드시 del 함수를 사용하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
dic = {0: 0, 1: 1, 'a': 3}
dic[]

print(dic)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
{0: 0, 1: 1}
```

#### 014 딕셔너리(인덱싱)

- key값을 이용해 모든 과목의 점수를 리스트로 만들어 출력하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
dic = {'국어': 77, '영어': 88, '수학': 81, '국사': 63, '과학': 97}

print()
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
[77, 88, 81, 63, 97]
```

#### 015 딕셔너리(Key, Value)

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.
- 반드시 딕셔너리 메서드를 활용하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
dic = {'국어': 77, '영어': 88, '수학': 81, '국사': 63, '과학': 97}

print()
print()
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
['국어', '영어', '수학', '국사', '과학']
[77, 88, 81, 63, 97]
```

#### 016 딕셔너리, zip, dict

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.
- 반드시 zip과 dict를 사용하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
keys = ('국어', '영어', '수학', '국사', '과학')
values = (77, 88, 81, 63, 97)

print()
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
{'국어': 77, '영어': 88, '수학': 81, '국사': 63, '과학': 97}

```

## 1-6. 집합

#### 017 집합(합집합)

- **set**을 사용하여 다음의 출력값이 나올 수 있도록 코드를 작성하세요.
- **list** 타입임에 유의하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
s1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
s2 = [6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

print()
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
```

#### 018 집합(차집합)

- **set**을 사용하여 다음의 출력값이 나올 수 있도록 코드를 작성하세요.
- **tuple** 타입임에 유의하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
s1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
s2 = [6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

print()
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
(10, 11, 12, 13, 14, 15)
```

#### 019 집합(교집합, add)

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.
- 교집합을 구하고 값을 추가하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
s1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
s2 = [6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

s3 = set(s1) | set(s2)
s3.add([100])
print(s3)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
{100, 6, 7, 8, 9}
```

#### 020 집합

- 다음의 출력이 나올 수 있도록 코드를 수정하세요.
- list, set 을 활용하세요.
- 출력값의 순서는 상관없습니다.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
asciiArt = '''
⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⢠⣿⣶⣄⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀ ⠀⠀⢀⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣦⣄⣀⡀⣠⣾⠀⠀⠀⠀
⠀⠀⠀⠀ ⠀⠀⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀
⠀⠀⠀ ⠀⢀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠿⢿⣿⣿⠀⠀⠀⠀
⠀⣶⣿⣦⣜⣿⣿⣿⡟⠻⣿⣿⣿⣿⣿⣿⣿⡿⢿⡏⣴⣺⣦⣙⣿⣷⣄⠀⠀⠀
⠀⣯⡇⣻⣿⣿⣿⣿⣷⣾⣿⣬⣥⣭⣽⣿⣿⣧⣼⡇⣯⣇⣹⣿⣿⣿⣿⣧⠀⠀
⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠸⣿⣿⣿⣿⣿⣿⣿⣷⠀
'''

print()
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
['⢀', '⢿', '⣥', '⡟', '⣜', '⣻', '⣷', '⠀', '⡇', '\n', '⣬', '⠻', '⣄', '⣦', '⠿', '⠹', '⣾', '⣀', '⣧', '⣇', '⠸', '⣹', '⣺', '⣶', '⣴', ' ', '⣼', '⣭', '⡏', '⡀', '⣽', '⢠', '⣙', '⣯', '⣿', '⣠', '⡿']
```

#### 021 집합(값 여러개 추가하기, 특정 값 제거하기)

- 다음의 출력값이 나올 수 있도록 코드를 수정하세요.
- 반드시 ```remove```와 ```update```를 사용하세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
s = {7, 8, 9, 10}

s.
s.
print(s)
```
-------
<span style="font-weight:bold; color:orange;">출력</span>
```
{4, 5, 6, 7, 8, 9}
```

## 1-7. 부울

#### 022 불 자료형

- 다음 코드의 출력값이 어떨지 예상하고 확인해보세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
print(bool('a'))
print(bool(''))
print(bool([1, 2]))
print(bool([]))
print(bool(1))
print(bool(0))
print(bool(None))
```

#### 023 불 자료형

- 다음 코드의 출력값이 어떨지 예상하고 확인해보세요.

-------
<span style="font-weight:bold; color:orange;">필요조건</span>
```python
ex0 = list(set([1, 2, 3]))
ex1 = {1, 2, 3}

ex0 == ex1
```